{% if site.intro %}
	<div id="introBubble" class="rounded_panel txt_lightgrey">
		<div class="top-rounded-panel grey-bg">
			<h1 id="user-intro">Introduction &amp; Background</h1>
		</div>
		<div class="content-rounded-panel">
			<div id="introBlurb">
				{{site.intro}}
			</div>
			<br>
		</div>
	</div>
{% endif %}


<!-- 
			I am a Senior Engineer working at Brazilian Army, having working over 25 years as a technical programmer, giving me a good blend of enterprise and start-up experience. <br/><br/>
			I enjoy creating great products with great user experiences and working in a dynamic environment with a focus on agile and good development practices, automation and shipping small, frequent releases.
-->
